<html>
  <head>
    <title>Profile</title>
    <link href="css/profile.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main class="container">
      <p><span></span>ID: <%= user.id %></p>
      <p>Name: <%= user.name %></p>
      <p>Username: <%= user.username %></p>
      <p>
        Email: <%= user.email %> <% if(user.activated){ %>
        <span class="activated">activated</span>
        <% } else{ %>
        <span class="activated">not activated</span>
        <% } %>
      </p>
    </main>
  </body>
</html>
;
